@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap&family=Roboto:wght@400;700&display=swap');

body {
  //height:100vw;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(34,195,105);
  background: radial-gradient(circle, rgba(34,195,105,1) 45%, rgba(253,187,45,1) 100%);}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
